<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
        <link rel="shortcut icon" href="images/logo_pokebola.png">
        <title>Pokédex</title>
        <link rel="stylesheet" href="css/style.css">
	</head>
	<body>
            <div class="header">
                <a href="/">
                    <img class="poke_ico" src="images/logo_pokemon.png">
                </a>
                <div class="divBusca">
                    <form action="/buscar" method="post">
                        <input type="text" class="search" name="search" placeholder="Pesquisar Pokemon">
                        <button type="submit" class="search"><img class="search_icon" src="images/search.png"></button>
                    </form>
                </div>
            </div>
            <div class="content">
                <h1><%=pokemon%></h1></br>
                <img class="pokedex_image" src="images/pokedex.png">

                <h2>Tipo</h2>
                    <ul class="listaTipo">
                        <% for(let i=0; i < pokeDados.types.length; i++) {%>
                            <li><%=pokeDados.types[i].type.name%></li>
                        <% } %>
                    </ul>
                <h2>Movimentos aprendidos</h2> 
                    <table>
                        <% for(let i=0; i < pokeDados.moves.length; i+=2) { %>
                            <tr>
                                <td><%=pokeDados.moves[i].move.name%></td>
                                <% if((i+1) < pokeDados.moves.length) { %>
                                <td><%=pokeDados.moves[i+=1].move.name%></td>
                                <% } %>
                            </tr>
                        <% } %>
                    </table>
            </div>
    </body>
</html>